:root {
  --primary: #0B3C5D;
  --secondary: #C9A14A;
  --dark: #0F172A;
  --light: #F8FAFC;
  --gray: #CBD5E1;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--light);
  color: var(--dark);
}

h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


