.hero {
  height: 100vh;
  background: url("/images/hero.png") center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
    /* رأسي */
  justify-content: center;  /* أفقي */
  text-align: center;  
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(11, 60, 93, 0.7);
}

.hero-content {
  position: relative;
  max-width: 600px;
  color: white;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  line-height: 1.6;
}
